<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="life.plank.juna.zone">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:name=".ZoneApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:replace="android:icon">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name=".firebase.JunaNotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.microsoft.windowsazure.notifications.NotificationsBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="life.plank.juna.zone" />
            </intent-filter>
        </receiver>

        <activity
            android:name="life.plank.juna.zone.ui.auth.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="life.plank.juna.zone.ui.camera.UploadActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="life.plank.juna.zone.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

        <activity
            android:name=".ui.feed.media.AudioRecorderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.feed.media.RecordAudioActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.feed.media.PostRecordedAudioActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="life.plank.juna.zone.ui.auth.AuthForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.feed.PostCommentActivity"
            android:label="@string/title_activity_post_comment"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".ui.zone.SelectZoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="life.plank.juna.zone.ui.auth.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="life.plank.juna.zone.ui.board.CreateBoardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="life.plank.juna.zone.ui.auth.TokenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.profile.UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="life.plank.juna.zone.ui.user.card.CreateCardActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${crashlyticsApiKey}" />

        <activity
            android:name=".ui.notification.UserNotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="life.plank.juna.zone.ui.camera.CustomCameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ju.na"
                    android:pathPrefix="/board"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.zone.ZoneActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".ui.home.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="life.plank.juna.zone.ui.user.card.CardWalletActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>